.flex-container {
    display: flex;
    background-color: DodgerBlue;
  }
  
  .flex-container div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .flex-container2 {
    display: flex;
    background-color: rgb(160, 169, 33);
    flex-direction: column;
  }
  
  .flex-container2 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .flex-container3 {
    display: flex;
    background-color: rgba(135, 255, 30, 0.612);
    flex-direction: column-reverse;
  }
  
  .flex-container3 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .flex-container4 {
    display: flex;
    background-color: rgba(185, 99, 28, 0.612);
    flex-direction: row-reverse;
  }
  
  .flex-container4 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .flex-container5 {
    display: flex;
    background-color: rgb(180, 30, 255);
  }
  
  .flex-container5 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .flex-container6 {
    display: flex;
    background-color: rgb(33, 139, 172);
  }
  
  .flex-container6 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .flex-container7 {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
  }
  
  .flex-container7 div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .flex-container8 {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
  }
  
  .flex-container8 div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .flex-container9 {
    display: flex;
    align-items: stretch;
    justify-content: end;
    background-color: #f1f1f1;
  }
  
  .flex-container9 div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .flex-container10 {
    display: flex;
    height: 200px;
    justify-content: center;
    background-color: #f1f1f1;
  }
  
  .flex-container10 div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .flex-container11 {
    display: flex;
    height: 200px;
    justify-content: center;
    background-color: #f1f1f1;
  }
  
  .flex-container11 div {
    background-color: DodgerBlue;
    color: white;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }